
<div id="logo"><%= image_tag "rails.png" %></div>
<h2>First Rails Application</h2>
<div >
<ul id="navlist"> 
<li > <a href = "index.html" id="home">home</a></li>
<li>|</li>
<li > <a href = "about.html"  id="about">about</a></li>
<li>|</li>
<li > <a href ="idea.html" id="idea">idea</a></li>
</ul>
</div>
<div class="clearfix" ></div>


