/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* { padding :0px; margin :0px;}


#yield {
height : 700px;}

body{
background-color: #e9e9e9;
font-family: arial,SANSerif;
font-size: 12px;
font-color: #3f3f3f;
}
#container {
background-color:#ffffff;
width : 700px;
margin : 0 auto;
overflow:hidden;}


a{color:#000000;text-decoration:none;
font-size:18px;}
a:hover{color:#0085b1;
text-decoration: none;}

#logo{
margin:12px;
padding:5px;
float:left;
}
h2{
font-family: georgia,Serif;
font-size: 24px;
float: left;
font-color: #325101 ;
margin:4px;
padding:7px;
}
#navlist li{

    display: inline;

}
 #navlist {float: right;
list-style: none; 
margin:41px;}


#home
{
 background-image: url("icon_sprite.png");
background-repeat:no-repeat;
background-position: 33px 0;
padding:24px;
margin: -11px;
}
#about
{
 background-image: url("icon_sprite.png");
background-repeat: no-repeat;
background-position: -53px 0;
margin: -11px;
padding:24px;
}
#idea
{
 background-image: url("icon_sprite.png");
background-repeat:no-repeat;
background-position: -147px 0;
padding:24px;
}



.clearfix { clear :both;
height:0;
border:dashed 1px #999999;
margin:7px;
}

#footer ul {list-style:none;
float: right;}
#footer ul li{ display :inline;
margin:5px;
padding:8px;
}

